<!-- This is a layout for the other html files -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    
    <!-- partial (matching to a file whose name is starting with '_') -->
    <!-- Following is a conditional comment for < IE 9-->
    <!-- Looking for app/views/layouts/_shim.html.erb -->
    <!-- underscore of the file name is used for partial -->
    <%= render 'layouts/shim' %>
  </head>

  <body>
  	<!-- partial -->
  	<%= render 'layouts/header' %>
    <div class="container">
      <%# how welcome message or sth %>
      <%# Way 1  %>
        <%# flash.each do |message_type, message| %>
          <!-- <div class="alert alert-<%#= message_type %>"><%#= message %></div> -->
        <%# end %>
      <%# Way 2 %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <%= yield %>
      <!-- place is a matter of its looking -->
      <%= render 'layouts/footer' %>
      <!-- Debug Use (shows messages only on development environment) -->
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%#= render 'layouts/footer' %>
  </body>
</html>